# Built application files
*.apk
*.ap_

# Java class files
*.class

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Android Studio
*.iml
.idea
.gradle
/build

# Local configuration file
/local.properties